<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TGB-Rematrícula</title>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-5 " >
            <div class="card">
                <div class="card-body">
                    <div class="card-header bg-info text-white">
                        <h3>Cursos</h3>
                    </div>
                    <table class="table table-bordered table-hover mt-2">
                        <thead>
                            <th scope="col">Nome</th>
                            <th scope="col">Status</th>
                            <th scope="col">Requisitos</th>
                            <th scope="col">Vagas</th>
                            <th scope="col">Semestre</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </thead>
                        <tbody>
                            <tr th:each="disciplina : ${disciplinas}">
                                <td th:text="${disciplina.getNome()}"></td>
                                <td th:text="${disciplina.isStatus()} ? 'Ativo' : 'Inativo'"></td>
                                <td th:if="${disciplina.getRequisito()} == 'nenhum'" th:text="'-'" class="text-center"></td>
                                <td th th:each="disciplina2 : ${disciplinas}"
                                    th:if="(${disciplina.getRequisito()} == ${disciplina2.getId()})" th:text="${disciplina2.getNome()}"></td>
                                <td th:text="${disciplina.getVagas()}"></td>
                                <td th:text="${disciplina.getSemestre()}"></td>
                                <td>
                                    <a th:href="@{/editDisciplina/{id}(id=${disciplina.getId()})}">Editar</a>
                                </td>
                                <td>
                                    <a th:href="@{/deleteDisciplina/{id}(id=${disciplina.getId()})}">Deletar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
        <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
        <script src="/webjars/popper.js/1.14.3/popper.min.js"></script>
        <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>