<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TGB-Rematrícula</title>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-5 " >
            <div class="card">
                <div class="card-body">
                    <div class="card-header bg-info text-white">
                        <h3>Alunos</h3>
                    </div>
                    <table class="table table-bordered table-hover mt-2">
                        <thead>
                            <th scope="col">Matrícula</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Curso</th>
                            <th scope="col">Semestre</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </thead>
                        <tbody>
                            <tr th:each="aluno : ${alunos}">
                                <td th:text="${aluno.getMatricula()}"></td>
                                <td th:text="${aluno.getNome()}"></td>
                                <td th:each="curso : ${cursos}"
                                    th:if="${curso.getId()} == ${aluno.getCurso()}"
                                    th:text="${curso.getNome()}"></td>
                                <td th:text="${aluno.getSemestre()}"></td>
                                <td>
                                    <a th:href="@{/editAluno/{id}(id=${aluno.getId()})}">Editar</a>
                                </td>
                                <td>
                                    <a th:href="@{/deleteAluno/{id}(id=${aluno.getId()})}">Deletar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
        <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
        <script src="/webjars/popper.js/1.14.3/popper.min.js"></script>
        <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>